#<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^404\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /sakhihosting.in/index.php [L]
#</IfModule>
