# REDIRECT BROKEN LINKS FROM SPECIFIC DOMAIN

<IfModule mod_rewrite.c>

RewriteCond %{REQUEST_FILENAME} .*

RewriteCond %{HTTP_REFERER} ^https?://([^.]+\.)?www.sakhihosting.in\. [NC]

RewriteRule (.*) https://sakhihosting.in/index.php [R=301,L]

# RewriteRule (.*) - [F,L]

</IfModule>
